// Add any fonts we have
@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "bower_components/font-awesome/fonts";
@icon-font-path: "bower_components/bootstrap/fonts/";

@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/cpp-ui/dist/ui.cpp.less";

div#body {
  margin-top: 100px;
}

/* Component LESS */
@import "partial/home/home.less";
/* Add Component LESS Above */
